p,
h1,
h2,
h3,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 595px;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 20px;
}

.top-section,
.middle-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.top-section__photo {
  width: 124px;
  height: 124px;
  border-radius: 12px;
  object-fit: cover;
}

.top-section__nameBox {
  flex-direction: column;
  justify-content: space-between;
  width: 124px;
}

.block {
  display: flex;
  padding: 12px;
  border-radius: 12px;
  background-color: #f0f0f0;
}

.nameBox__info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.info__name {
  font-size: 1.4rem;
  font-weight: 600;
}

.info__role {
  font-size: 1.2rem;
  color: #5c5c5c;
}

.top-section__languages {
  flex-direction: column;
  gap: 16px;
}

.languages__title,
.experience__title,
.tools__title,
.education__title,
.interests__title,
.contact__title {
  font-size: 1.4rem;
  line-height: 21px;
  font-weight: 500;
}

.languages__list {
  display: flex;
  gap: 17px;
}

.list__names,
.list__levels,
.experience__jobList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list__name {
  line-height: 10.4px;
}

.levels__line,
.levels__line-short {
  width: 168px;
  height: 11px;
  border-radius: 3px;
  background-color: #28d979;
}

.levels__line-short {
  width: 129px;
}

.middle-section__experience,
.middle-section__tools,
.bottom-section__education,
.extra__interests {
  flex-direction: column;
  gap: 16px;
}

.jobList__jobItem,
.jobList__jobItem-last {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 7px 8px;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 0.8rem;
}

.jobList__jobItem-last {
  background-color: #28d979;
  color: #ffffff;
}

.jobItem__header {
  display: flex;
  justify-content: space-between;
}

.jobItem__header_tag {
  display: flex;
  justify-content: space-around;
  width: 61px;
  padding: 2px 0;
  border-radius: 59px;
  background-color: #7e731266;
  color: #ddf163;
}

.jobItem__content {
  display: flex;
  gap: 8px;
}

.content__jobInfo {
  min-width: 124px;
}

.jobInfo__role {
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
}

.jobInfo__about {
  display: flex;
  gap: 6px;
  font-weight: 400;
}

.content__featured {
  margin-left: 12px;
  font-weight: 400;
  line-height: 12px;
}

.tools__frame {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0 12px;
}

.frame__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  position: relative;
  border-radius: 6px;
  padding: 14px 10px;
  background-color: #ffffff;
}

.frame__block_tag {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  justify-content: space-around;
  padding: 2px 6px;
  color: #ffffff;
  background-color: black;
  border-radius: 59px;
  font-size: 0.5rem;
}

.block_tag__name {
  white-space: nowrap;
}

.bottom-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.education__educationList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.educationList__educationItem,
.educationList__educationItem-last {
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-radius: 10px;
  background-color: #ffffff;
}

.educationList__educationItem-last {
  background-color: #28d979;
  color: #ffffff;
}

.educationItem__header {
  display: flex;
  justify-content: space-between;
}

.educationItem__conten {
  display: flex;
  flex-direction: column;
}

.content__role {
  font-size: 1rem;
  font-weight: 500;
}

.content__tags,
.content__tags-last {
  display: flex;
  column-gap: 2px;
  flex-wrap: wrap;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 12px;
  color: #149063;
}

.content__tags-last {
  color: #ebf9f2;
}

.content__school {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 12px;
}

.bottom-section__extra {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.interests__tagsList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tagsList__tag {
  display: flex;
  justify-content: space-around;
  padding: 4px 10px;
  border-radius: 40px;
  background-color: #ffffff;
  font-weight: 400;
  line-height: 15px;
}

.extra__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  border-radius: 12px;
  background-color: #000000;
  color: #ffffff;
  height: -webkit-fill-available;
}

.contact__email {
  font-weight: 400;
  line-height: 15px;
  color: #dddddd;
}

.downloadButton {
  width: fit-content;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: #28d979;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s;
}

.downloadButton:hover {
  background-color: #149063;
}

@keyframes text-animation {
  to {
    color: red;
  }
}

.animation {
  animation-name: text-animation;
  animation-duration: 0.3s;
}

.ripple_area {
  position: relative;
  overflow: hidden;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .top-section,
  .middle-section {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 570px) {
  .top-section {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 470px) {
  .bottom-section {
    grid-template-columns: 1fr;
  }
}
